<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bPMN -->
      <category
            id="es.kybele.elastic.categories.innovaserv"
            name="INNovaServ Toolkit"/>
      <wizard
            id="bpmn.presentation.BPMNModelWizardID"
            name="%_UI_BPMNModelWizard_label"
            class="bpmn.presentation.BPMNModelWizard"
            category="es.kybele.elastic.categories.innovaserv"
            icon="icons/full/obj16/BPMNModelFile.gif">
         <description>%_UI_BPMNModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bPMN -->
      <editor
            id="bpmn.presentation.BPMNEditorID"
            name="%_UI_BPMNEditor_label"
            icon="icons/full/obj16/BPMNModelFile.gif"
            extensions="bpmn"
            class="bpmn.presentation.BPMNEditor"
            contributorClass="bpmn.presentation.BPMNActionBarContributor">
      </editor>
   </extension>

</plugin>
